environment.yml
experiment.py
unet_carpets_weights_GS4C.h5
unet_carpets_weights_Left_19_40_13-05
unet_carpets_weights_Left_19_40_13-05.h5
unet_carpets_weights_Left_19_40_13-05.zip
unet_carpets_weights_Left_Right.h5
unet_carpets_weights_Left.h5
unet_carpets_weights_Right+Left.h5
.vscode/launch.json
output/ADL-Rundle-6.txt
output/ADL-Rundle-8.txt
output/ETH-Bahnhof.txt
output/ETH-Pedcross2.txt
output/ETH-Sunnyday.txt
output/KITTI-13.txt
output/KITTI-17.txt
output/PETS09-S2L1.txt
output/TUD-Campus.txt
output/TUD-Stadtmitte.txt
output/Venice-2.txt
tmp/extracted/Batch_CP_16-10.mp4
=0.0.1
flying-carpets.code-workspace
